/* header */
.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid #c9c9c9;
  align-items: center;
}

.logo-container > img{
  height: 160px;
}

.nav-items{
  padding-right: 30px;
}

.nav-items > ul{
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

.nav-items > ul > li{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.cart-superscript-text{
  position: relative;
  top: -10;
}


/* body */
.search{
  padding: 20px;
}

.filter-btn{
  cursor: pointer;
}

.resturant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}
.resturant-parent-container{
  display: flex;
  flex-direction: column;
  height: 470px;
}

.resturant-card{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  margin: 5px;
}
.resturant-parent-container:hover{
  cursor: pointer;
  box-shadow: 2px 4px 2px 2px #c9c9c9;
}

.resturant-card > img {
  height: 200px;
  width: 100%;
}

.card-basic-info{
  display: flex;
  margin-top: auto;
  justify-content: space-evenly;
  font-size: 14px;
}

.card-name-container > h3,h5 {
  margin-left: 10px;
}

.avg-rating-container{
  height: 30px;
  width: 55px;
  display: flex;
  position: relative;
  top: 20%;
  border-radius: 3px;
}
.avg-rating-container > p {
  margin: 0 auto;
  position: relative;
  top: 25%;
  color: white;
}
.ratingStarIcon{
  font-size: 4px;
  position: relative;
  top: 5% !important;
  left: 10%;
  color: white;
}

.card-divider{
  padding-top: 10px;
}

.card-offer-text{
  margin: 0 auto;
  padding-top: 10px;
  color: #8a584b;
}

.resturant-card:hover + .card-quick-view-btn{
  display: block;
}
.card-quick-view-btn{
  display: none;
  background: none;
	color: #5d8ed5;
	border: none;
	padding-bottom: 10px;
  margin-bottom: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-top: auto;
}

/* sorting */
.resturant-filter-container{
  display: flex;
  margin-bottom: 20px;
}
.sort-text-box{
  width: auto;
  height: auto;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}