/* header */
.profile-dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  /* background-image: linear-gradient(rgb(233, 233, 233), rgb(181, 181, 181)); */
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo-container{
  display: flex;
  align-items: center;
}

.logo-container-img{
  height: 120px;
}
.logo-container > p{
  padding: 10px;
}

.nav-items{
  padding-right: 30px;
}

.nav-items > ul{
  display: flex;
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
}

.nav-items > ul:nth-child(3){
  position: relative;
  display: inline-block;
}

.profile-dropdown-content{
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}
.profile-dropdown-content > li { 
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}
.profile-dropdown-content > li:hover { 
 color: rgb(97, 121, 128);
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}
.profile-dropdown > li{
  font-size: 16px;
}

.nav-items > ul > li{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.nav-items  > ul > div > li{
  margin: 13px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.nav-items > ul > li:hover{
  color: rgb(97, 121, 128);
}

.nav-items > ul > div > li:hover{
  color: rgb(97, 121, 128);
}

.cart-superscript-text{
  position: relative;
  top: -10;
}

.signup-container{
  display: flex;
  width: auto;
  justify-content: space-between;
}
.signup-container > p:nth-child(1){
  margin-right: 10px;
}

/* body */
.search{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-img-crousel{
  height: 300px;
  width: 100%;
  background-color: #171a29;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  overflow: auto;
}
.homepage-img-whatsOnMind{
  height: 200px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  overflow: auto;
}
.homepage-crousel-card{
  margin: 20px;
}
.homepage-crousel-card > img{
  height: 100%;
}
.homepage-whatsOnMind-card{
  margin: 10px;
}
.homepage-whatsOnMind-card > img{
  height: 100%;
  cursor: pointer;
}

.search-input{
  width: 80%;
  height: 30px;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #858585;
  padding: 10px;
  background-image: linear-gradient(#e8e8e8, #fff);
}
.search-input:focus {
  outline-width: 0;
}

.search-btn{
  border: none;
  height: 35px;
  border-radius: 5px;
  width: 80px;
  background-color: #c9c9c9;
  cursor: pointer;
}

.filter-btn{
  cursor: pointer;
}

.resturant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}
.resturant-parent-container{
  display: flex;
  flex-direction: column;
  height: 470px;
}

.resturant-card{
  display: flex;
  flex-direction: column;
  width: 290px;
  padding: 15px;
  margin: 5px;
 
}
.resturant-parent-container:hover{
  cursor: pointer;
  box-shadow: 2px 4px 2px 2px #c9c9c9;
}

.resturant-card > img {
  height: 200px;
  width: 100%;
}

.card-basic-info{
  display: flex;
  margin-top: auto;
  justify-content: space-evenly;
  font-size: 14px;
}

.card-name-container > h3,h5 {
  margin-left: 10px;
}

.avg-rating-container{
  height: 30px;
  width: 55px;
  display: flex;
  position: relative;
  top: 20%;
  border-radius: 3px;
}
.avg-rating-container > p {
  margin: 0 auto;
  position: relative;
  top: 25%;
  color: white;
}
.ratingStarIcon{
  font-size: 4px;
  position: relative;
  top: 5% !important;
  left: 10%;
  color: white;
}

.card-divider{
  padding-top: 10px;
}

.card-offer-text{
  margin: 0 auto;
  padding-top: 10px;
  color: #8a584b;
}

.resturant-card:hover + .card-quick-view-btn{
  display: block;
}
.card-quick-view-btn{
  display: none;
  background: none;
	color: #5d8ed5;
	border: none;
	padding-bottom: 10px;
  margin-bottom: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-top: auto;
}

/* sorting */
.resturant-filter-container{
  display: flex;
  margin-bottom: 20px;
  margin-left: 15px;
}
.sort-text-box{
  width: auto;
  height: auto;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

.no-result-found-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-of-res-text{
  margin-left: 20px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;  
}

/* shimmer */
.container-shimmer{
  display: flex;
  flex-direction: column;
}
.search-shimmer{
  height: 30px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 200px;
}
.resturant-card-shimmer{
  padding: 15px;
  margin: 5px;
  margin-top: 120px;
}
/* shimmer menu */
.container-shimmer-menu{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* menu */
.res-menu-page-container{
  /* display: flex; */
  width: 70%; 
  background-color: #fcfcfc;
  margin: 0 auto;
  margin-top: 10px;
}
.res-menu-search-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.res-menu-title-container{
  display: flex;
  justify-content: space-between;
}
.res-menu-rating-container{
  width: 68px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res-menu-number-of-rating{
  font-size: 10px;
}
.res-menu-rating-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.res-menu-number-of-rating{
  margin-top: 0;
}
.res-menu-address-tab{
  font-size: 14px;
  margin-top: 10px;
  color: #545454;
}
.res-menu-delivery-details{
  font-size: 14px;
}
.res-menu-delivery-time-container{
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.res-menu-delivery-time-container > p{
  margin: 15px;
  color: #545454;
}
.res-menu-offer-card-container{
  display: flex;
  padding: 15px;
  overflow-x: scroll;
}
.res-offer-box{
  width: 250px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  margin: 10px;
}
.res-offer-box-top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.res-offer-icon{
  width: 20px;
  height: 20px;
}
.res-offer-box-top > p{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}
.res-offer-box > p{
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  margin: 0px;
  text-align: center;
}
.res-menu-veg-only-toggle{
  display: flex;
  align-items: center;
}
.res-menu-container{
  margin: 10px;
}

.res-single-menu-item-container{
  height: 170px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.res-single-menu-item-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.res-price{
  display: flex;
  align-items: center;
}
.res-single-menu-item-title > p:last-child{
  font-size: 14px;
  color: #545454;
}
.res-menu-search-tab{
  cursor: pointer;
}
.bestseller-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.bestseller-icon > p{
  font-size: 12px;
}

.bestseller-tag{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.res-menu-img-container{
  position: relative;
}

.add-to-card-btn{
  position: absolute;
	padding: 5px;
	bottom: 0px;
	left: 22%;
	width: 100px;
  background-color: white;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  border-radius: 5px;
}
.customise-text{
  position: absolute;
	bottom: 0px;
	left: 35%;
	width: 100px;
  font-size: 10px;
  top: 160px;
  color: #9d9d9d;
}
.res-single-menu-img{
  width: 140px;
  height: 140px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.rating-text-menu{
  margin-left: 10px;
  font-size: 14px;
}
.star-icon-menu{
  position: relative;
  top: 5px;
}


/* customise page */
.customise-dialog-container{
  width: 100%;
}
.customise-radio-card{
  display: flex;
  align-items: center;
}
.customise-radio-text{
  color:black;
  margin-right: 10px;
  font-size: 16px;
}
.add-customised-food-btn{
  width: 100%;
  background-color: #60b246;
  height: 30px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 10px;
}


/* footer */
.footer-container{
  display: flex;
  height: 400px;
  background-color: rgb(21, 21, 21);
  justify-content: space-between;
  color: white;
  padding: 40px;
  padding-top: 50px;
}
.footer-container > div > p{
  cursor: pointer;
}
.footer-appstore-img{
  width: 200px;
  margin-bottom: 50px; 
}
.footer-img-container{
  display: flex;
  flex-direction: column;
}